
header{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS7A4fLTL_gG4Fe9roxv3YVXnMpiu9kC_73Q&usqp=CAU");
    text-align:center;
    padding: 80px;
    border:solid 1px black;
    font-size: xx-large;
    font-family: cursive;
    font-style: italic;
    color: white;
    
}


main p{
    padding: 50px;
    text-align: left;
    font-size: xx-large;
    font-family: 'Lobster', cursive;
    color: white;

}

 header h1 {
    position: relative;
    top: 150px;
    text-align: start;
    font-size: xx-large;
    font-family: 'Lobster', cursive;
    text-align:center;
}
body{
    background-color: black;

}


ul li  {
    color:pink;
    /* position: relative; */
    margin-right: 20px;
    padding-left: 2em;
    margin: 1em;
    font-size:xx-large;
    font-family: 'Indie Flower', cursive;
    text-decoration:underline;
/* display: inline; */
bottom: 1000px;

}

/* a {
    position: relative;

    text-align: center;
     top: 200px;
     text-decoration:none;
} */

nav ul li{
    position: relative;
    top: 200px;

}








    






 